@charset "utf-8";

// placeholder色
$placeholderColor: #c3c3c3;

// メディアクエリの基準幅
$bp-sp: 375px;
$bp-pc: 376px;
// $bp-tab: $bp-pc - 1px;

// vwの基準となる幅 →320px=スマホ最小
$vw_standard_width: 375;

// transition
$transition01: 0.3s ease-in-out;

// color
$or: #ff6c08;
$bl: #0042a8;
$bl02:#00217c;

$font-color1:#707070;
$font-color2:#009E8C;
$font-color3:#FFFFFF;
$font-color4:#D8D8D8;
$bg-color1:#FFFFFF;
$bg-color2:#1B9DB8;
$bg-color3:#E5F5F3;
$bg-color4:#D8D8D8;
$bg-color5:#ECECEC;
$border-color1:#009E8C;
$border-color2:#D8D8D8;
$border-color3:#FFFFFF;
// 共通余白設定
$padding-pc:25px;
$padding-sp:20px;
$l-inner:940px;

