@charset "utf-8";

// placeholder色
$placeholderColor: #c3c3c3;

// メディアクエリの基準幅
$bp-sp: 767px;
$bp-pc: 768px;
// $bp-tab: $bp-pc - 1px;

// vwの基準となる幅 →320px=スマホ最小
$vw_standard_width: 375;

// transition
$transition01: 0.3s ease-in-out;

// color
$or: #ff6c08;
$bl: #0042a8;
$bl02:#00217c;

$font-color1:#505050;
$font-color1-op:rgba(50,50,50,0.3);
$font-color2:#009E8C;
$font-color2-op:rgba(0,158,140,0.5);$font-color3:#FFFFFF;
$font-color3-op:rgba(255,255,255,0.3);
$font-color4:#D8D8D8;
$font-color5:#707070;
$bg-color1:#FFFFFF;
$bg-color2:#1B9DB8;
$bg-color3:#E5F5F3;
$bg-color4:#D8D8D8;
$bg-color5:#ECECEC;
$bg-color6:#009E8C;
$bg-color2-op:rgba(27,157,184,0.6);
$bg-color6-op:rgba(0,158,140,0.6);
$bg-color7:#FFC6C6;
$bg-color8:#505050;
$border-color1:#009E8C;
$border-color2:#D8D8D8;
$border-color3:#FFFFFF;
$border-color4:#EDEDED;
// 共通余白設定
$padding-pc:30px;
$padding-sp:20px;
$l-inner:940px;

