<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<main class="p-home">

  <!-- ご参加いただくメリット -->
  <%- include('./parts/_p-merit') %>

</main>


<%- include('./common/_footer', {pageId:pageId }) %>