  <section class="p-lead">
    <div class="p-lead__inner l-inner">
      <h2 id="lead" class="p-lead__title js fadein scroll_up">
        再エネをお得に、<br class="u-hidden-pc">地域のために
      </h2>
        <p class="p-lead__text js fadein scroll_up">再エネを活用したい事業者のみなさま、<br class="u-hidden-sp">再エネ発電所のオーナーのみなさま、<br class="u-hidden-sp">千代田区に電気を供給したい事業者のみなさまの募集を開始いたします。<br><br>千代田区は「2050ゼロカーボンちよだ」の実現に向け、<br class="u-hidden-sp">連携自治体である秋田県五城目町、群馬県嬬恋村の再エネ発電施設を活用し、<br class="u-hidden-sp">千代田区内の事業者のみなさまへ再エネの供給を行います。
        </p>
        
        
        
        
        
        
        
        



    </div>
  </section>