
<div class="p-merit__contentbox js-content">
  <div class="p-merit__chiyoda">
    <%# メリット %>
    <div class="p-merit__value p-value">
      <h3 class="c-common-title font-color2">
        環境意識が高い事業者と出会える！
      </h3>
      <%- include('./_p-value__list', {tab_no: 2}) %>
    </div>
    <div class="p-merit__copy c-ecycle-copy">
      <div class="u-hidden-sp">
        <p>
          <img class="lazyload" src="../img/svg/logo.svg" alt="e.cycle">
          の入札に参加して
        </p>
        <p>いい再エネを使おう！</p>
      </div>
      <div class="u-hidden-pc">
        <p>
          <img class="lazyload" src="../img/svg/logo.svg" alt="e.cycle">
          の
        </p>
        <p>入札に参加して</p>
        <p>いい再エネを使おう！</p>
      </div>
    </div>
    <%# ボタン %>
    <%- include('./_c-request-btn') %>
  </div>
</div>
