
<div class="p-merit__contentbox js-content">
  <div class="p-merit__chiyoda">
    <%# メリット %>
    <div class="p-merit__value p-value">
      <h3 class="c-common-title font-color2">
        お得で簡単、<br class="u-hidden-pc">再エネ切替え！
      </h3>
      <%- include('./_p-value__list', {tab_no: 0}) %>

    </div>
    <div class="p-value__annotation">
      <p>
        ※1 RE100等の証明には再エネ指定の環境価値を示す証書を購入する必要があります。
      </p>
      <p>
        ※2 入札によって価格は変動する可能性があります。
      </p>
      <p>
        ※3 本事業では基本的にFIT電気を取扱います。
      </p>
      <br>
      <p>
        【留意事項】
      </p>
      <p>
        ※本事業で使用する電気は基本的にFIT電気です。
      </p>
      <p>
        【FIT電気】：FIT制度に基づき事業計画の認定を受けた事業に係る発電設備において発電された電気。
      </p>
      <p>
        【FIT制度】：再生可能エネルギー源（太陽光、風力、水力、地熱、バイオマス）を用いて発電された電気を、国が定める価格で一定期間、電気事業者が買い取ることを義務付けるもの。<br class="u-hidden-pc">
        （<a href="#" class="" target="_blank">経済産業省資源エネルギー庁HP</a>）
      </p>
      <p>
        ※本事業で流通するFIT電気は、(1)FIT電気のみ (2)再エネ指定の環境価値を示す証書等により実質的に再生可能エネルギーによる電気としての価値を有するもの、両方を購入可能です。（この電気を調達する費用の一部は、電気の利用者が広く負担する賦課金によって賄われており、CO2が排出されないことを始めとする再生可能エネルギーとしての価値を訴求するにあたっては、国の制度上、非化石証書等の環境価値を取引する証書の使用が必要とされています。FIT電気は、環境価値を示す証書を使用しない場合には、CO２排出量について火力発電等も含めた全国平均の電気のCO2排出量を持った電気として扱われます。）
      </p>
    </div>

    <%# STEP %>
    <div class="p-merit__step p-step">
      <div class="p-step__titlebox">
        <h3 class="p-step__title">
          再エネ切替えまでの<br class="u-hidden-pc">4STEP
        </h3>
      </div>
      <%- include('./_p-step__list') %>
    </div>

    <div class="p-merit__copy c-ecycle-copy">
      <div class="u-hidden-sp">
        <p>
          <img class="lazyload" src="../img/svg/logo.svg" alt="e.cycle">
          の入札に参加して
        </p>
        <p>いい再エネを使おう！</p>
      </div>
      <div class="u-hidden-pc">
        <p>
          <img class="lazyload" src="../img/svg/logo.svg" alt="e.cycle">
          の
        </p>
        <p>入札に参加して</p>
        <p>いい再エネを使おう！</p>
      </div>
    </div>
    <%# ボタン %>
    <%- include('./_c-request-btn') %>
  </div>
</div>
