<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal-overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal-container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-1-title"
    >
      <header class="modal-header">
        <h2 class="modal-title" id="modal-1-title">ご参加のお申込み</h2>
      </header>
      <div class="modal-content" id="modal-1-content">
        <ul class="modal-list">
          <li class="modal-button">
            千代田区内の<br>
            事業者のみなさま
          </li>
          <li class="modal-button">
            再エネ発電所の<br>
              みなさま
          </li>
          <li class="modal-button">
            小売電気事業者の<br>
            みなさま
          </li>
        </ul>
        <a class="modal-etc" href="">その他お問合せはこちら</a>

      </div>
      <div class="modal-closebox">
        <p class="modal-close-text">閉じる</p>
        <button
          class="modal-close"
          aria-label="Close modal"
          data-micromodal-close
        >
      </button>
      </div>

    </div>
  </div>
</div>
