
<section id="p-merit" class="p-merit">
  <div class="l-inner">
    <div id="merit" class="p-merit__inner">
      <h2 class="c-common-title font-color3  js-fadein">
        ご参加いただく<br class="u-hidden-pc js-fadein">メリット
      </h2>

      <div class="p-merit__wrapper js-fadein">

        <div class="p-merit__tabbox">
          <ul class="p-merit__tabarea top">
            <li class="p-merit__tab js-tab current">
              千代田区内の<br class="u-hidden-sp">事業者のみなさま
            </li>
            <li class="p-merit__tab js-tab">
              再エネ発電所の<br class="u-hidden-sp">みなさま
            </li>
            <li class="p-merit__tab js-tab">
              小売電気事業者の<br class="u-hidden-sp">みなさま
            </li>
          </ul>

          <div class="p-merit__contents">
            
              <!-- tab01 -->
              <%- include('./_p-merit_tab01') %>
              <!-- tab02 -->
              <%- include('./_p-merit_tab02') %>
              <!-- tab03 -->
              <%- include('./_p-merit_tab03') %>

          </div><!--p-merit__contents-->
      

          <ul class="p-merit__tabarea bottom">
            <li data-url="#merit" class="p-merit__tab js-tab current">
              千代田区内の<br class="u-hidden-sp">事業者のみなさま
            </li>
            <li data-url="#merit" class="p-merit__tab js-tab">
              再エネ発電所の<br class="u-hidden-sp">みなさま
            </li>
            <li data-url="#merit" class="p-merit__tab js-tab">
              小売電気事業者の<br class="u-hidden-sp">みなさま
            </li>
          </ul>
        </div>
      </div>




    </div>
  </div>
</section>