
<div class="p-merit__contentbox js-content">
  <div class="p-merit__chiyoda">
    <%# メリット %>
    <div class="p-merit__value p-value">
      <h3 class="p-merit__title c-common-title font-color2   js fadein scroll_up">
        環境意識が高い<br class="u-hidden-pc">事業者と出会える！
      </h3>
      <%- include('./_p-value__list', {tab_no: 2}) %>
    </div>
    <div class="p-merit__copy c-ecycle-copy  js fadein scroll_up">
      <div class="u-hidden-sp">
        <p>
          <img class="lazyload" src="../img/svg/logo.svg" alt="e.cycle">
          に参加して
        </p>
        <p>いい再エネを広げよう！</p>
      </div>
      <div class="u-hidden-pc  js fadein scroll_up">
        <p>
          <img class="lazyload" src="../img/svg/logo.svg" alt="e.cycle">に参加して
        </p>
        <p>地域とつながろう！</p>
      </div>
    </div>
    <%# ボタン %>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSf-zaYTPvyCKtKTJ2o-qo87dujl9e7cMpIo7KjvIYd0VCK3sQ/viewform?usp=sf_link" target="_blank" class="c-modal-btn c-request-btn js fadein scroll_up on">
      お申込みはこちら
    </a>
  </div>
</div>
