  <section class="p-mv">
    <div class="p-mv__inner">
      <h2 class="p-mv__title">
        <span>地域を元気にする</span><br>
        <span>再エネをお得に</span><br>
        <span>使いましょう！</span>
      </h2>
    </div>
</section>