
  <section id="ecycle" class="p-model l-model">
    <div class="p-model__inner js-cycle-trigger">
      <div class="p-model__copybox">
        <p class="p-model__copy">再エネで地域共生を！</p>
          <img class="lazyload" src="/img/svg/logo.svg" 
          alt="e.cycle">
          <p class="p-model__copy-under">いいサイクル</p>
      </div>
      <!-- <div class="p-model__cycle">
        <div class="p-model__cycle-img scroll_up">
          <img class="lazyload js-cycle" src="/img/svg/circle_1.svg" alt="いいサイクル">
        </div>
        <div class="p-model__cycle-img scroll_up">
          <img class="lazyload js-cycle" src="/img/svg/circle_2.svg" alt="いいサイクル">
        </div>
        <div class="p-model__cycle-img scroll_up">
          <img class="lazyload js-cycle" src="/img/svg/circle_3.svg" alt="いいサイクル">
        </div>
      </div> -->
      <div class="p-model__img">
        <% 
          for (var i = 0; i < 8; i++) { 
            var img_no = i + 1;
        %> 
        <img class="lazyload js-imgfadein" src="/img/common/img-<%= img_no %>.jpg" alt="">
        <% } %>

      </div>
      <div class="p-model__textbox">
        <h2 class="c-common-title font-color2 js fadein scroll_up">
          地域と再エネ発電所の<br>
          いい循環をつくります
        </h2>
        <p class="p-model__text js fadein scroll_up">
          e.CYCLEとは：再生可能エネルギーを地域と直接つなぐ、新しい電力流通の仕組みです。連携自治体の再エネ発電所の電気をまち未来製作所が集めて、電力会社に入札を行います。その売上の一部から地域活性化資金を創出し、地域を元気にします。
        </p>
      </div>
    </div>
  </section>