
<div class="p-merit__contentbox js-content">
  <div class="p-merit__chiyoda">
    <%# メリット %>
    <h3 class="p-merit__title c-common-title font-color2  js fadein scroll_up">
      地域と<br class="u-hidden-pc">いい関係を築けます！
    </h3>
    <div class="p-merit__value p-value">
      <%- include('./_p-value__list', {tab_no: 1}) %>
    </div>
    <div class="p-merit__copy c-ecycle-copy  js fadein scroll_up">
      <div class="u-hidden-sp">
        <p>
          <img class="lazyload" src="../img/svg/logo.svg" alt="e.cycle">
          に参加して
        </p>
        <p>いい再エネを広げよう！</p>
      </div>
      <div class="u-hidden-pc js fadein scroll_up">
        <p>
          <img class="lazyload" src="../img/svg/logo.svg" alt="e.cycle">に参加して
        </p>
        <p>いい再エネを広げよう！</p>
      </div>
    </div>
    <%# ボタン %>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTP1Z4U0Gx78zxqvJDPuVaflfFbNnTa6L7atup3-DNM7x10Q/viewform" target="_blank" class="c-modal-btn c-request-btn js fadein scroll_up on">
      お申込みはこちら
    </a>
    <p class="c-request-btn__annotation js fadein scroll_up">
      連携自治体（秋田県五城目町、群馬県嬬恋村）以外の<br class="u-hidden-sp">再エネ発電所のご参加も募集しています。
    </p>
  </div>
</div>
