<div id="partner" class="l-partner p-partner ">
  <div class="l-inner js-map-trigger">
    <div class="p-partner__wrapper">
      <div class="p-partner__textbox">
        <div class="u-hidden-pc">
          <div class="p-partner__copy c-ecycle-copy js fadein scroll_up">
            <p>
              <img class="lazyload" src="../img/svg/logo.svg" alt="e.cycle">
            </p>
            <p>
              千代田に電力を
            </p>
            <p>供給する地域</p>
          </div>
        </div>
        <div class="u-hidden-sp">
          <div class="p-partner__copy c-ecycle-copy js fadein scroll_up">
            <p>
              <img class="lazyload" src="../img/svg/logo.svg" alt="e.cycle">
              千代田に
            </p>
            <p>パートナー地域</p>
          </div>
        </div>
        <p class="p-partner__text js fadein scroll_up">
          千代田区が、秋田県五城目町、群馬県嬬恋町と締結した「2050年脱炭素社会実現に向けた連携協定」のもと、再エネをe.CYCLE千代田に参加される事業者へ供給し、千代田区での再エネの利用拡大を図ります。またe.CYCLE千代田にご参加いただく再エネ発電所を募集し、新たな再エネの創出を目指します。
        </p>
      </div>
      <div class="p-partner__img">
        <img class="lazyload js-map scroll_up" src="/img/common/map_1.png" alt="e.cycle千代田パートナー地域">
        <img class="lazyload js-map scroll_up" src="/img/common/map_2.png" alt="e.cycle千代田パートナー地域">
        <!-- <img class="lazyload" src="/img/common/japan_1.png" alt="e.cycle千代田パートナー地域">
        <img class="lazyload" src="/img/common/japan_2.png" alt="e.cycle千代田パートナー地域"> -->
      </div>
    </div>
  </div>
</div>