<div class="l-request p-request">
  <div class="p-request__inner"></div>
  <div class="l-inner p-request__wrapper">
    <p class="c-common-title js fadein scroll_up">
      地域を元気にする再エネを<br>お得に使いましょう！
    </p>
    <div class="p-request__box">
      <%# ボタン %>
      <%- include('./_c-request-btn') %>
    </div>
  </div>
</div>