@use '../..//mixin/mixin' as *;
@use '../../setting/setting' as *;

/* --------------------------------
c-contents-title
----------------------------------- */
.c-contents-title {
  font-size: 2.4rem;
  font-weight: 700;
  // line-height: 1;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:$font-color2;
  text-align: center;
  @include sp{
    font-size: 2rem;
    // line-height: 1.5;
  }
}

.c-contents-title a{
  color:$font-color2;
  text-decoration: underline;
}
