@use '../..//mixin/mixin' as *;
@use '../../setting/setting' as *;

/* --------------------------------
c-ecycle-copy
----------------------------------- */

.c-ecycle-copy{
  font-size: 3.6rem;
  color: $font-color2;

}

.c-ecycle-copy img{
  margin-right: 1rem;
  width: 22rem;
}

.c-ecycle-copy p{
  line-height: 1.67;
  display: flex;
  align-items: center;
}
