@use '../..//mixin/mixin' as *;
@use '../../setting/setting' as *;

/* --------------------------------
c-pagetop
----------------------------------- */
.c-pagetop {
  right: 3rem;
  width: 5rem;
  height: 5rem;
  background: $bg-color2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $font-color3;
    text-transform: uppercase;
  }
  @include sp {
    right: 1rem;
  }
}
