@use '../..//mixin/mixin' as *;
@use '../../setting/setting' as *;

/* --------------------------------
p-footer
----------------------------------- */
.p-footer{
  width: 100%;
  background: linear-gradient(to bottom right, $bg-color2, $font-color2);
  position: relative;
  // z-index: -1;
}

.p-footer__inner{
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem 3.5rem;
  @include sp{
    flex-direction: column;
    padding: 2rem 2rem 4rem;
  }
}

.p-footer__logo{
  padding: 1.5rem;
  @include sp{
    padding: 0;
  }
}

.p-footer__logo img{
  @include sp{
    width: 11.6rem;
  }
}

.p-footer__menu{
  display: flex;
  width: auto;
  height: auto;
  justify-content: end;
  font-weight: 500;
  letter-spacing: 0.05em;
  @include sp{
    padding-top: 3.5rem;
    margin-right: -0.5rem;
  }
}

.p-footer__menu a{
  padding: 1.5rem;
  color: $font-color3;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1;
  text-decoration: underline;
  @include sp{
    padding: 0.5rem;
  }
}

.p-footer__menu img{
  width: 11.94rem;
}

.p-footer__menu li{
  display: flex;
  position: relative;
}

.p-footer__textbox{
  margin-top: 0.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 2;
  color: $font-color3;
  text-align: right;
  @include sp{
    padding-right: 0;
    padding-top: 1rem;
  }
}

.p-footer__textbox small{
  @include sp{
    padding-top: 1rem;
  }
}