@use '../..//mixin/mixin' as *;
@use '../../setting/setting' as *;

/* --------------------------------
p-fixed
----------------------------------- */
.p-fixed{
  background-image: url(../img/common/kv.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // position: relative;
  position: fixed;
  z-index: -2;
  animation-name:fadeInAnime2;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  opacity:0;
  @include sp{
    background: url(..//img/common/kv-sp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      // background-size: contain;
  }
}

@keyframes fadeInAnime2{
    0% {
      opacity: 0;
    }
    33%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .p-fixed__blur{
    position: absolute;
    background-image: url(../img/common/kv_blur.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    opacity: 0;
    position: fixed;
    z-index: -1;
    @include sp{
      background: url(..//img/common/kv_blur_sp.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      }
  }
  
  .p-fixed__btn {
  position: absolute;
  content: "";
  width: 18rem;
  height: 18rem;
  right: 4rem;
  line-height: 1.5;
  z-index: -1;
  border-radius: 50%;
  background: linear-gradient($bg-color2, $bg-color6);

  @include sp{
    // display: none;
    width: calc(100% - 2 * $padding-sp);
    height: initial;
    left: 50%;
    // right: 0;
    transform: translateX(-50%);
    border-radius: 10rem;
    background: linear-gradient(to bottom right, $bg-color2, $font-color2);
    padding: 2rem 2.5rem;
    // bottom: 2rem;
    font-size: 2rem;
  }
}

.p-fixed__btn:hover{
  transform:scale(1.1);
  @include sp{
    transform: translateX(-50%);
  }
}

