@use '../..//mixin/mixin' as *;
@use '../../setting/setting' as *;

/* モーダル */
.modal-overlay {
  align-items: center;
  background: url(..//img/common/kv.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 999999;
}

.modal-overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;;
  background: linear-gradient(rgba(27,157,184,0.8), rgba(0,158,140, 0.8));
;
}

.modal-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-title{
  font-size: 3.6rem;
  letter-spacing: 0.04em;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  color: $font-color3;
  @include sp{
    font-size: 2.4rem;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  // line-height: 1.5;
  margin-bottom: 2rem;
  margin-top: 6rem;
  @include sp{
    margin-bottom: 4rem;
    margin-top: min(6rem, 4vh);
    }
}

.modal-button{
  // padding: 6rem 4rem;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-align: center;
  background: $bg-color1;
  border-radius: 2rem;
  margin-right: 2rem;
  width: calc((100% - 20px * 2) / 3) ;
  transition: all 0.3s;
  position: relative;
  @include sp{
    width: 100%;
    margin-right: 0;
    margin-top: 1rem;
  }
  a{
    display: block;
    padding: 6rem 4rem;
    color: $font-color1;
    @include sp{
      font-size: 2rem;
      padding: min(3rem, 2vh) 4rem;
    }
  }
}

.modal-button:hover{
  background: $bg-color6;
}

.modal-button::after{
  content: "";
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  background: url(..//img/svg/arrow-up-right.svg);
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.4rem;
  height: 1.4rem;
}

.modal-button:last-of-type{
  margin-right: 0;
}

.modal-container {
  max-width: 90%;
  overflow-y: auto;
  width: 94rem;
  max-height: 100vh;
  top: 0;
  @include sp{
    // margin-top: 11.4rem;
  }
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


.modal-list{
  display: flex;
  justify-content: center;
  @include sp{
    flex-direction: column;
  }
}

.modal-open {
  display: block;
  margin: 100px auto;
  position: absolute;
  z-index: 100000;
}

.modal-etc{
  margin-top: 6rem;
  font-size: 1.8rem;
  letter-spacing: 0.04em;
  line-height: 1.7778;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.2rem;
  color: $font-color3;
  text-align: center;
  @include sp{
    margin-top: min(3.2rem, 4vh);
    font-size: 1.6rem;
  }
}

.modal-closebox{
  margin-top: 11.1rem;
  text-align: center;
  color: $font-color3;
  @include sp{
    margin-top: min(7.3rem, 3vh);
  }
}

.modal-close-text{
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: $font-color3;
}

.modal-close {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 65px;
  height: 65px;
  @include sp{
    width: 40px;
    height: 40px;
  }
  
}
 
.modal-close::before, .modal-close::after { /* 共通設定 */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.3rem; /* 棒の幅（太さ） */
  height: 5.657rem; /* 棒の高さ */
  background: $border-color3;
  // padding-top: 10px;
}
 
.modal-close::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.modal-close::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}


/* モーダルアニメーション */
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal-overlay {
  animation: mmfadeIn .3s cubic-bezier(.0, .0, .2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal-container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-overlay {
  animation: mmfadeOut .3s cubic-bezier(.0, .0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal-container,
.micromodal-slide .modal-overlay {
  will-change: transform;
}