@use '../..//mixin/mixin' as *;
@use '../../setting/setting' as *;

/* --------------------------------
p-merit
----------------------------------- */

.p-merit__inner{
  width: 62rem;
  margin: 0 auto;
}

.p-merit__copy{
  margin-top: 9rem;
}

.p-merit__copy p{
  justify-content: center;
}

