@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

/* --------------------------------
p-step
----------------------------------- */
.p-step{
  margin-top: 7.5rem;
  padding: 6rem 4rem 4rem;
  background: $bg-color5;
  border-radius: 20px;
  @include sp{
    padding: 4rem 2rem 4rem;
  }
}

.p-step__title{
  font-size: 2.4rem;
  font-weight: 700;
  color: $font-color2;
  text-align: center;
  letter-spacing: 0.04em;
  @include sp{
    font-size: 1.8rem;
  }
}

.p-step__titlebox{
  // position: relative;
  display: flex;
  justify-content: center;
  // margin: 0 auto;
}
.p-step__title{
  display: inline-block;
  position: relative;
  line-height: 1.5;
}

.p-step__title::before,
.p-step__title::after{
  content:"";
  height: 3.2rem;
  // width: 0.2rem;
  position: absolute;
  border-left: 2px solid $bg-color6;
  top: 6%;
  // transform: translateY(-50%);
  @include sp{
    height: 4.5rem;
    top: 8%;
  }
}

.p-step__title::before{
  left: -2.5rem;
  transform: rotate(-20deg);
  @include sp{
    left: -1.8rem;
  }
}

.p-step__title::after{
  right: -1.5rem;
  transform: rotate(18deg);
  @include sp{
    right: -2.2rem;
    transform: rotate(14deg);
  }
}

  .p-step__contents {
  position: relative;
  margin: 7rem auto 0;
  padding: 4rem 3.8rem;
  width: 54rem;
  max-width: 100%;
  border: 2px solid $border-color1;
  border-radius: 20px;
  box-sizing: border-box;
  background: $bg-color1;
  @include sp{
    padding: 5rem 2rem 2.6rem;
  }
}

.p-step__contents::before{
  border: 1px solid $border-color1;
  height: 7rem;
  content: "";
  position: absolute;
  top: -7.2rem;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box; 
}

.p-step__contents:first-of-type{
  @include sp{
    margin: 5rem auto 0;
  }
}

.p-step__contents:first-of-type::before{
  display: none;
}

.p-step__contents::after{
  content: "";
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid $border-color1;
  background-repeat: no-repeat;
}

.p-step__contents-1::after{
  background: url(/img/common/1.jpg);
  background-size: cover;
}
.p-step__contents-2::after{
  background: url(/img/common/2.jpg);
  background-size: cover;
}
.p-step__contents-3::after{
  background: url(/img/common/3.jpg);
  background-size: cover;
}
.p-step__contents-4::after{
  background: url(/img/common/4.jpg);
  background-size: cover;
}
.p-step__contents-5::after{
  background: url(/img/common/5.jpg);
  background-size: cover;
}

.p-step__list .c-contents-title{
  line-height: 1.5;
}