@use '../..//mixin/mixin' as *;
@use '../../setting/setting' as *;

/* --------------------------------
p-value
----------------------------------- */
.p-value__list {
  margin-top: 1.1rem;
  // margin: 1.6rem auto 0;
  width: 100%;
  max-width: 62rem;
  @include sp{
    padding-top: 1rem;
    margin-top: 0;
  }
}

.p-value__contents {
  position: relative;
  margin: 10.5rem auto 0;
  padding: 4rem 5.6rem;
  width: 62rem;
  max-width: 100%;
  // border: 2px solid $border-color1;
  border-radius: 20px;
  box-sizing: border-box;
  background: $bg-color3;
  @include sp{
    padding: 4.5rem 2rem 2rem;
    margin: 9.5rem auto 0;
  }
}

.p-value__contents::after{
  content: "";
  position: absolute;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  max-width: 100%;
  height: 10rem;
  background-repeat: no-repeat;
  @include sp{
    top:-7.5rem;
  }
}

.p-value__list-1 .p-value__contents-1::after{
  background: url(/img/svg/icon_5.svg);
  background-size: cover;
}

.p-value__list-1 .p-value__contents-2::after{
  background: url(/img/svg/icon_3.svg);
  background-size: cover;
}

.p-value__list-2 .p-value__contents-1::after{
  background: url(/img/svg/icon_2.svg);
  background-size: cover;
}

.p-value__list-2 .p-value__contents-2::after{
  background: url(/img/svg/icon_4.svg);
  background-size: cover;
}

.p-value__list-3 .p-value__contents-1::after{
  background: url(/img/svg/icon_2.svg);
  background-size: cover;
}

.p-value__list-3 .p-value__contents-2::after{
  background: url(/img/svg/icon_6.svg);
  background-size: cover;
}

.p-value__contents-3::after{
  background: url(/img/svg/icon_1.svg);
  background-size: cover;
}

.p-value__contents .c-contents-text{
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  @include sp{
    font-size: 1.4rem;
  }
}

.p-value__annotation {
  margin: 4rem auto 0;
  width: 100%;
  line-height: 1.8;
  letter-spacing: 0em;
  color:$font-color5;
  @include sp{
    font-size: 1rem;
    // letter-spacing: 0em;
    margin: 3.5rem auto 0;
  }
}
.p-value__annotation a{
  color: $font-color2;
  text-decoration: underline;
}

.p-value__list-img {
  margin-top: 3rem;
  width: 100%;
  height: auto;
}
