<footer id="footer" class="l-footer p-footer">
  <div class="p-footer__inner">
    <a href="./" class="p-footer__logo">
      <p>
        <img class="lazyload" src="../../img/common/footer-logo.svg" alt="いいサイクル千代田">
      </p>
    </a>
    <div class="p-footer__nav-wrapper">
      <nav class="p-footer__nav">
        <ul class="p-footer__menu">
          <% for(let page in jsonData.footer){ %>
          <li><a href="<%= jsonData.footer[page].slug %>"><%= jsonData.footer[page].name %></a></li>
          <% }; %>
        </ul>
      </nav>
        <div class="p-footer__textbox">
          <p>※本事業は株式会社まち未来製作所と<br class="u-hidden-pc">千代田区が連携協定を締結し実施しています
          </p>
          <p>
            <small>
              &copy;<%= jsonData.siteInfo.name %>
            </small>
          </p> 
        </div>
    </div>
  </div>
  <div class="p-request__img"></div>
</footer>
<div id="pagetop" class="c-pagetop">
  <a href="#wrapper">
  <!-- <img class="lazyload" src="../../img/svg/arrow-down-solid.svg" alt=""> -->
  <span class="c-pagetop__arrow"></span>
  Top</a>
</div>
</div>

<script src="/js/lib/svgxuse.min.js"></script>
<script src="/js/lib/jquery-3.6.0.min.js"></script>
<script src="/js/common.js"></script>
</body>

</html>